-- Disable RLS on existing tables to fix "Failed to save" issues
ALTER TABLE IF EXISTS products DISABLE ROW LEVEL SECURITY;
ALTER TABLE IF EXISTS offers DISABLE ROW LEVEL SECURITY;
ALTER TABLE IF EXISTS memberships DISABLE ROW LEVEL SECURITY;
ALTER TABLE IF EXISTS global_settings DISABLE ROW LEVEL SECURITY;
ALTER TABLE IF EXISTS eye_test_settings DISABLE ROW LEVEL SECURITY;
ALTER TABLE IF EXISTS eye_test_bookings DISABLE ROW LEVEL SECURITY;
ALTER TABLE IF EXISTS lens_categories DISABLE ROW LEVEL SECURITY;
ALTER TABLE IF EXISTS lens_products DISABLE ROW LEVEL SECURITY;
ALTER TABLE IF EXISTS orders DISABLE ROW LEVEL SECURITY;
ALTER TABLE IF EXISTS stores DISABLE ROW LEVEL SECURITY;

-- CMS Pages Table
CREATE TABLE IF NOT EXISTS cms_pages (
  id TEXT PRIMARY KEY,
  slug TEXT UNIQUE NOT NULL,
  title TEXT NOT NULL,
  status TEXT DEFAULT 'published',
  created_at TIMESTAMP DEFAULT NOW(),
  updated_at TIMESTAMP DEFAULT NOW()
);

-- CMS Sections Table
CREATE TABLE IF NOT EXISTS cms_sections (
  id TEXT PRIMARY KEY,
  page_id TEXT REFERENCES cms_pages(id),
  section_type TEXT NOT NULL,
  order_index INTEGER NOT NULL,
  is_visible BOOLEAN DEFAULT true,
  config_json JSONB NOT NULL
);

-- Disable RLS on new tables
ALTER TABLE IF EXISTS cms_pages DISABLE ROW LEVEL SECURITY;
ALTER TABLE IF EXISTS cms_sections DISABLE ROW LEVEL SECURITY;

-- Insert default page
INSERT INTO cms_pages (id, slug, title) VALUES ('page_home', 'home', 'Homepage') ON CONFLICT (id) DO NOTHING;

-- Insert default sections (if not exists)
